<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909581688178-9bn1vhqfb4ead5bhnu32hac929m0e4ea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909581688178-9bn1vhqfb4ead5bhnu32hac929m0e4ea</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>909581688178-pm1jmbtobib04jknoritjs59mlmq40mp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA53TWxcg0fxF59WtlPLSYlH4U7zumBdjg</string>
	<key>GCM_SENDER_ID</key>
	<string>909581688178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gosoftweb.template</string>
	<key>PROJECT_ID</key>
	<string>flutter-template-49ae9</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-template-49ae9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909581688178:ios:b1ec2b8d8f3a3b6ebcd1eb</string>
</dict>
</plist>